
<table class="table table-striped">
  <thead>
    <tr>
      <th style="background-color:#00FF00">Title</th>
      <th style="background-color:#00FF00">Description</th>
      <th style="background-color:#00FF00">Author</th>
      <th style="background-color:#00FF00" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= post.author %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path %> |
  <ht><%= current_user.email%></ht>
<% end %>

