
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Our Logo</a>
   <form class="form-inline">
      <div style="padding-left: 10px;">
       <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    </div>
  </form>
</nav>

<p id="notice"><%= notice %></p>
<div class="jumbotron">
<h1>Posts</h1>

<head>
<style>
table, th, td{
  border: 2px solid black;
  background-color: green
  border-collapse: collapse;
}
</style>
</head>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Author</th>
      <th scope="col" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= post.author %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path %> |
  <ht><%= current_user.email%></ht>
<% end %>

