<!DOCTYPE html>
<html>
<nav class="navbar navbar-light bg-light">
  <%= link_to  posts_path  do %> 
    <%= image_tag 'logo.jpeg', :class=>'navbar-brand', width: 90, height: 90, alt: 'a face that is unnervingly happy' %>
  <% end %>

   <form class="form-inline">
      <div style="padding-left: 10px;">
       <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    </div>
  </form>
</nav>

<p id="notice"><%= notice %></p>
<div class="jumbotron">

  <head>
    <title>Fb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      table, th, td{
        border:  2px solid black;
        background-color: green
        border-collapse: collapse;
      }
    </style>
  </head>

  <body>
    <% if user_signed_in? %>
  <% end %>
      <%= yield %>
  </body>
</html>
